<div class="container">
  <h1>{{ 'info.about.head' | translate }}</h1>
  <p>
    The K-State Research Exchange, or K-REx, is Kansas State University's
    <a href="https://en.wikipedia.org/wiki/Institutional_repository" target="_blank">institutional repository</a>.
    K-REx showcases a variety of content from K-State's faculty, staff, students, academic and other units, and
    community partners. K-REx is globally accessible by anyone with access to the internet.
  </p>

  <p>The three main types of content K-REx showcases are:</p>
  <ul>
    <li>RSCAD works from faculty, staff, students and community partners.</li>
    <li>Electronic theses, dissertations and reports (ETDRs) from the university's graduate students.</li>
    <li>Digital collections unique to K-State.</li>
  </ul>

  <p>
    Technical information: K-REx is a branded instance of the
    <a target="_blank" href="https://dspace.org/about/">DSpace software package</a>.
  </p>

  <h2>Content included in K-REx</h2>
  <p>RSCAD works, born digital or in a digitized format, developed or produced by the K-State community may be included in the institutional repository. The K-State community, as it pertains to this policy, shall be defined as any current faculty, staff, student or community partner of Kansas State University. Examples include:</p>
  <ul>
    <li>Documents, such as articles, preprints, accepted manuscripts, working papers, technical reports or conference papers.</li>
    <li>Presentation slides or posters.</li>
    <li>Theses, dissertations or reports.</li>
    <li>Learning objects.</li>
    <li>Data sets.</li>
    <li>Computer programs.</li>
    <li>Visualizations, simulations and other models.</li>
    <li>Multimedia publications.</li>
    <li>Books.</li>
    <li>Bibliographic datasets.</li>
    <li>Images.</li>
    <li>Audio files.</li>
    <li>Video files.</li>
    <li>Web pages.</li>
  </ul>

  <h2>Contact</h2>
  <p>
    <strong>If you're a graduate student and have questions about the submission or review of your ETDR,</strong><br />
    please contact the Graduate School at <a href="mailto:grad@k-state.edu">grad@k-state.edu</a>
    or <a href="tel:+17855326191">785-532-6191</a>.
  </p>

  <p>
    <strong>For questions about content found within Digital Collections, please contact:</strong> <br />
    Richard L. D. and Marjorie J. Morse Department of Archives and Special Collections <br />
    <a href="mailto:libsc@k-state.edu">libsc@k-state.edu</a>
  </p>

  <p>
    <strong>For all other questions, please contact:</strong> <br />
    Center for Scholarly Publishing<br />
    Hale Library 113<br />
    <a href="mailto:cads@k-state.edu">cads@k-state.edu</a>
  </p>

  <h2>Why open access?</h2>
  <p>
    Former Provost April Mason, on behalf of K-State, signed the <a href="https://openaccess.mpg.de/Berlin-Declaration" target="_blank">Berlin Declaration on Open Access to Knowledge in the Sciences and Humanities</a> on Oct. 24, 2011, pledging that K-State will support the principles of open access. Consistent with the Berlin Declaration on Open Access, items loaded into K-REx are freely available on the web to all users.
  </p>

  <h2>Copyright</h2>

  <p>
    Users submitting items to K-REx agree to the <a routerLink="/info/license">Standard K-REx Non-Exclusive Distribution License</a>.
    When an article is accepted for publication in a journal, many publishers require authors to sign an agreement transferring or
    licensing copyright to the publisher. The Center for Scholarly Publishing staff and faculty work closely with publishers and
    faculty authors to ensure compliance with these agreements. The original publisher of an item should be contacted if
    there are any questions or concerns about the item's copyright status.
  </p>

  <p>
    Authors and creators who submit original works retain full copyright; however, some items may be licensed under a <a href="https://en.wikipedia.org/wiki/Public_copyright_license" target="_blank">public
    license</a>, such as Creative Commons, so please check individual item records to review rights information.
  </p>

  <p>Digital Collections within K-REx have varied copyright according to their agreements. Please review the
    individual item for copyright.
  </p>

  <p>
    Graduate students retain all copyright when they submit their theses, dissertations and reports,
    as stated in <a href="https://www.k-state.edu/provost/policies-resources/university-handbook/fhxr.html" target="_blank">University Handbook, Appendix R, Section 1(E)</a>.
  </p>

  <p>
    If you need further copyright assistance or believe that your copyrighted material has been
    deposited into K-REx without consent, please contact us immediately at <a href="mailto:cads@k-state.edu">cads@k-state.edu</a>.
  </p>
</div>
